<!DOCTYPE html>
<html>

<head>
  <title>Error.</title>
  <h1>Book Search!</h1>
  <p><a href="/">Home</a></p>
</head>
<body>
  <h2>There has been an error.</h2>
  <p>Please go back to the home page and try again.</p>
</body>

</html>