/* base.css */

/* ----------------------------------------------- */
/* Global styles */
/* ----------------------------------------------- */

html, body {
  height: 100%;
}

body {
  background: #9B9B9B;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-flow: column nowrap;
  /* align-items: center; */
  font-size: 1.2vw;
}

h1 {
  color: #fff;
  font-size: 5vw;
}

h2 {
  padding-top: 2vw;
  font-size: 4vw;
  background: #4A4A4A;
  color: #fff;
  text-align: center;
}

button {
  text-transform: uppercase;
  background-color: #4A4A4A;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  /* font-size: 16px; */
}



/* ----------------------------------------------- */
/* header.ejs partial styles */
/* ----------------------------------------------- */

header {
  height: 12vw;
  background-color: black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
}

header>* {
  padding: 0px 2vw;
}

#menu-symbol {
  height: 5vw;
}

header a {
  text-decoration: none;
  color: white;
  font-size: 5vw;
}

/* ----------------------------------------------- */
/* book.ejs partial styles */
/* ----------------------------------------------- */

#results-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.books {
  background: #D8D8D8;
  /* border: 1px solid black; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 90%;
  margin: 3vw 0px;
  box-shadow: 1px 4px 6px rgb(100, 99, 99);
}

.top ul li {
  margin: 0vw auto;
}

.title, .author {
  text-align: center;
}

.title {
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 3vw;
}

.author {
  font-style: italic;
}

.description {
  text-align: justify;
  width: 80%;
  line-height: 175%;
  /* max-height: 30vw; */
  /* overflow: auto; */
}

/* Form styles */
input, textarea {
  width: 80%;
  margin: 2vw 0vw;
}

.descript-textarea {
  text-align: left;
  height: 20vw;
}

/* ----------------------------------------------- */
/* footer.ejs partial styles */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/* show.ejs  styles */
/* ----------------------------------------------- */

.top {
  /* border: 1px solid black; */
  /* just to show it */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}

.bottom {
  /* border: 1px solid black; */
  /* just to show it */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}


.book-img {
  border: 10px solid #fff;
  width: 30%;
  margin: 1vw 0vw;
}




/* input {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: auto;
} */

/* 


body div {
  height: 8vw;
  background: #4A4A4A;
}


#search-results {

}

main {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
}

.books {
  background: #D8D8D8;
  margin: 5px;
}


.details-form {
  display: flex;
  flex-flow: column nowrap;
}

.details-form label {
}
.details-form input {
  width: 60vw;
}
*/